%p
  Some text

.dropdowns
  .dropdown
    %button.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", type: "button", "data-boundary" => "window"}
      Dropdown v4
    .dropdown-menu.scrollable
      %a.dropdown-item{href: "#"} Action
      %a.dropdown-item{href: "#"} Another action
      %a.dropdown-item{href: "#"} Something else here
      %a.dropdown-item{href: "#"} Action
      %a.dropdown-item{href: "#"} Another action
      %a.dropdown-item{href: "#"} Something else here
      %a.dropdown-item{href: "#"} Action
      %a.dropdown-item{href: "#"} Another action
      %a.dropdown-item{href: "#"} Something else here
      %a.dropdown-item{href: "#"} Something else here
      %a.dropdown-item{href: "#"} Action
      %a.dropdown-item{href: "#"} Another action
      %a.dropdown-item{href: "#"} Something else here

  %p
  %select.form-select{"aria-label" => "Default select example"}
    %option{selected: "selected"} Open this select menu
    %option{value: "1"} One
    %option{value: "2"} Two
    %option{value: "3"} Three
    %option{value: "1"} One
    %option{value: "2"} Two
    %option{value: "1"} One
    %option{value: "2"} Two
    %option{value: "3"} Three{value: "3"} Three
